@charset "utf-8";

body {
  padding-top: 75.19px;
}

::-webkit-scrollbar {
  background: #FFF;
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: 4px solid #FFF;
  border-radius: 10px;
}

.sombra {
  box-shadow: 2px 4px 10px #4949491e;
}

.img-vantagens {
  width: 100px;
  height: 100px;
}

.myBlockquote {
  background-image: url(../imagens/geral/bg-quote.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 767px) {
  .citacao-quote {
    font-size: 2.5rem;
  }

  body {
    padding-top: 0px;
  }

  .fixed-top {
    position: relative;
  }

  .newsletter-area h3 {
    font-size: 2rem;
  }

  .link-rede-social {
    width: 75% !important;
  }

  .footer p {
    font-size: 0.85rem;
  }
}

@media (max-width: 500px) {
  .link {
    font-size: 0.8rem;
  }
}