@charset "utf-8";

.container-rounded-shadow {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.btn-forma-pagamento {
  border-radius: 0rem !important;
}

.item-vantagem {
  border-bottom: 1.5px solid #ccc;
}

.item-vantagem:last-child {
  border-bottom: none;
}